@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --color-primary: 255 190 152;
  --color-secondary: 254 236 226;
  --color-background: 247 222 208;
  --color-foreground: 226 191 179;
  --color-separator: 76 86 106;
}

.theme-dark {
  --color-primary: 7 15 43;
  --color-secondary: 27 26 85;
  --color-background: 83 92 145;
  --color-foreground: 146 144 195;
  --color-separator: 131 148 150;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--color-primary));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  .order-card {
    @apply w-48 h-auto shadow-xl rounded-xl flex flex-col bg-foreground text-content1;
  }
}